html,
body {
   height: 100%;
   background-color: #d7b892;
}

header.masthead {
   text-align: center;
   color: white;
   background-image: url('/img/coffee.jpg');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   background-size: cover;
   width: 100wh;
   height: 50vh;
}

.navbar-brand i {
   color: #d7b892;
}

#mainNav {
   background-color: #915f38;
}

footer {
   background-color: #2e180b;
   color: #915f38;
}

.contactCard {
   width: 400px;
   color: #673c1f;
   display: inline-block;
   padding: 5px 10px 10px 10px;
   margin: 10px 20px 20px 10px;
}

.contentText {
   text-align: left;
   float: left;
}

.contactCard img {
   margin: 20px;
   width: 130px;
   height: auto;
   border-radius: 50%;
   display: inline-block;
}

.pic {
   height: 200px;
   width: 200px;
}
.product-grid {
   text-align: center;
   overflow: hidden;
}

.product-grid .product-image img {
   width: 100%;
   height: auto
}

.product-grid .product-discount-label, .product-grid .product-new-label {
   color: #fff;
   background-color: #ef5777;
   font-size: 12px;
   padding: 2px 7px;
   display: block;
   top: 10px;
   left: 0
}

.product-grid .product-content {
   background-color: #fff;
   text-align: center;
   padding: 12px 0;
   margin: 0 auto;
}

.product-grid .title {
   font-size: 13px;
   font-weight: 400;
   letter-spacing: .5px;
   margin: 0 0 10px;
}

.product-grid .price {
   color: #333;
   font-size: 17px;
   font-weight: 700;
   letter-spacing: .6px;
   margin-bottom: 8px;
   text-align: center;
}

.product-grid .price span {
   color: #999;
   font-size: 13px;
   font-weight: 400;
   text-decoration: line-through;
   margin-left: 3px;
   display: inline-block
}
